services:
  nginx:
    build: ./nginx
    container_name: nginx_proxy
    ports:
      - "80:80"
    depends_on:
      - flask_app
    networks:
      - red

  flask_app:
    build: ./flask
    container_name: flask_app
    expose:
      - "5000"
    networks:
      - red

networks:
  red:
